@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	margin: 0px;
	padding: 0px;
}

body
{
	font-family: Helvetica, Arial, verdana, sans-serif;
	color: white;

	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: 0px 15px;
	background-color: black;
	cursor: none;
}

html,body{
    height: 100%
}

footer{

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}

.date
{
    font-size: 3vw;
    font-family: Montserrat, Helvetica, Arial, verdana, sans-serif;
    font-weight: 700;
	width: 100%;
	text-align: right;
}

.time
{
    text-align: center;
    font-size: 10vw;
    font-family: Montserrat, Helvetica, Arial, verdana, sans-serif;
    font-weight: 700; 
	width: 100%;
}

.countdown
{
	font-size: 4.5vw;
    font-family: Montserrat, Helvetica, Arial, verdana, sans-serif;
    font-weight: 400;
	text-align: center;
}

.no_news_div
{
    font-size: 3.8vw;
    font-family: Montserrat, Helvetica, Arial, verdana, sans-serif;
    font-weight: 400;
    line-height: 85%;
	text-align: center;
}

.messagebox
{
    position: absolute;
    font-size: 34px;
    font-family: Montserrat, Helvetica, Arial, verdana, sans-serif;
    font-weight: 400;
	text-align: center;
	width: 100%;
	color: #ffffff;
}

.info th
{
	font-size: 26px;
    font-family: Montserrat, Helvetica, Arial, verdana, sans-serif;
    font-weight: 700; 
	text-align: right;
	font-weight: bold;
	padding: 0px 5px 5px 0px;
}

.info td
{
	font-size: 32px;
	font-family: Montserrat, Helvetica, Arial, verdana, sans-serif;
    font-weight: 400; 
    text-align: left;
	padding: 0px 5px 5px 0px;
}

.credit
{
	font-family: Geneva, Helvetica, Arial, verdana, sans-serif;
	font-size: 10px;
	position: absolute;
	bottom: 10px;
	right: 20px;
	width: 100%;
	text-align: right;
	color: #FFF;
}

.last_updated
{
    font-family: Montserrat, Helvetica, Arial, verdana, sans-serif;
    font-weight: 400;
	font-size: 0.8vw;
    text-align: right;
	color: #FFF;
}

table#info {
  text-align: center;
  width: 100%;
}

table#info th {
  width: 50%;
}

table#info td {
  width: 50%;
}

div.progress_holder {
	width: 100%;
	position: absolute;
	top: 70px;
	left: 0;
	height: 10px;
}

div.progress {
	width: 50%;
	margin: auto;
	height: 10px;
	background-color: #332a54;
	border-bottom: 2px #6654a8 solid; /* purple */
	/*border-bottom: 1px white solid; */ /* white */
}

div#prog {
	height: 10px;
	background-color: #81cfc2;
	width: 0px;
}

.footer {
    background-color: white;
}
.spacer {
    margin-top: 40px; /* define margin as you see fit */
}
